* {
    font-family: 'Roboto', sans-serif ;
}

header {
    height: 50px;
    background-color: #212121;
    position: fixed;
}




.menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style-type: none;
    width: 100%;
    background-color: #212121;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 26px ;
}

.subheader {
    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, 0.6);
    
}

.subheader .subheader_link {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;

}

.subheader .subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    height: 46px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('/src/img/mg_first.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 21px;
    text-align: center;
}

.promo .promo_descr {
    margin-top: 23px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reason {
    padding: 73px 0 68px 0;
    min-height: 900px;
    
}

.reason .previllage {
    margin: 0 auto;
    padding: 6px 11px ;

    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;

    width: 112px;
    height: 24px;
    background-color: #000000;
}

.reason .reason_header { /* Вот тут автоматически появляется margin-bottom:8, не могу понять почему он берется */
    margin-top: 44px;
    /* margin-bottom: 8px; */
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.reason .reason_block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.reason .reason_block .reason_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%
}

.reason .reason_block .reason_info {
    width: 341px;
}

.reason .reason_block .reason_info .reason_dscr {
    margin-top: 11px;
    
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: Left;
}

.reason .reason_block .reason_info .reason_header {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: Left;
}

